src/main/resources/schema/xmlsct.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="urn:iso:std:iso:20022:tech:xsd:pain.001.001.09"
	xmlns="urn:iso:std:iso:20022:tech:xsd:pain.001.001.09"
	elementFormDefault="qualified">

    <xs:element name="Document">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cstmrCdtTrfInitn">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="GrpHdr">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MsgId" type="xs:string"/>
                                        <xs:element name="CreDtTm" type="xs:string"/>
                                        <xs:element name="NbOfTxs" type="xs:integer"/>
                                        <xs:element name="CtrlSum" type="xs:decimal"/>
                                        <xs:element name="InitgPty">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Nm" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="PmtInf">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="PmtInfId" type="xs:string"/>
                                        <xs:element name="PmtMtd" type="xs:string"/>
                                        <xs:element name="ReqdExctnDt" type="xs:string"/>
                                        <xs:element name="Dbtr">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Nm" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="DbtrAcct" type="AcctType"/>
                                        <xs:element name="CdtTrfTxInf" type="CdtTrfTxInfType" maxOccurs="unbounded"/>
                                        <xs:element name="DbtrAgt" type="AgentType"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Reusable complex types -->
    <xs:complexType name="AcctType">
        <xs:sequence>
            <xs:element name="Id">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="IBAN" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AgentType">
        <xs:sequence>
            <xs:element name="FinInstnId">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="BIC" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CdtTrfTxInfType">
        <xs:sequence>
            <xs:element name="Amt">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="InstdAmt">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:decimal">
                                        <xs:attribute name="Ccy" type="xs:string" use="required"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Cdtr">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Nm" type="xs:string"/>
                        <xs:element name="Address">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Addr" type="xs:string"/>
                                    <xs:element name="StrtName" type="xs:string"/>
                                    <xs:element name="City" type="xs:string"/>
                                    <xs:element name="State" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CdtrAcct" type="AcctType"/>
            <xs:element name="RmtInf">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Ustrd" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CdtrAgt" type="AgentType"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
